@media (min-width: 786px) {
    .hiddenButtons {
        display: none;
    }
}

@media (max-width: 785px) {
     .tableButtons {
        display: none;
    }
    .searchButton {
        font-size: 75%;
    }
    h1 {
        font-size: 300% !important;
    }
    
}
.headerP {
    font-size: 150%;
}